force-app/main/default/flows/CaseToWorkOrders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <description>For each asset in GetAssets, adds the Asset ID to the AssetIds collection variable.</description>
        <name>AddAssetToCollection</name>
        <label>Add Asset to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>assetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverAssets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the details collected and reviewed in the CollectWorkOrderDetails, ReviewWorkOrderDescription, and Review Customer Details to the workOrderId variable.</description>
        <name>AddDetailsToVariable</name>
        <label>Add Details to Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>workorderId.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderId.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderId.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderId.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorktypeLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderId.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderId.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceTerritoryLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderId.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderId.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderId.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderId.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderId.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderId.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderId.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workorderId.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateWorkOrderRecord</targetReference>
        </connector>
    </assignments>
    <description>Copies case details, like customer and asset information, to create a work order from a case.</description>
    <dynamicChoiceSets>
        <description>The Priority picklist values for a work order.</description>
        <name>WorkOrderPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The Status picklist values for a work order.</description>
        <name>WorkOrderStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Creates a link for the new work order record.</description>
        <name>NewWorkOrderLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!GetWorkOrder.Id}</expression>
    </formulas>
    <interviewLabel>Create Work Order from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case to Work Order flow</label>
    <loops>
        <description>Repeats actions in a loop for each Account ID in GetAssets</description>
        <name>IterateOverAssets</name>
        <label>Iterate Over Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddAssetToCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ReviewCustomerDetails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a work order record based on the collected values stored in the workorderId variable.</description>
        <name>CreateWorkOrderRecord</name>
        <label>Create Work Order Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetWorkOrder</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ReviewWorkOrderCreationErrors</targetReference>
        </faultConnector>
        <inputReference>workorderId</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets a list of assets based on the case Account ID.</description>
        <name>GetAssets</name>
        <label>GetAssets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverAssets</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ReviewCustomerDetails</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the ID of the newly created work order.</description>
        <name>GetWorkOrder</name>
        <label>Get Work Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReviewResults</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ReviewWorkOrderRetrievalErrors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workorderId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Displays work order fields for the running user to provide details about the work order, like the type of work type or service territory.</description>
        <name>CollectWorkOrderDetails</name>
        <label>Collect Work Order Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ReviewWorkOrderDescription</targetReference>
        </connector>
        <fields>
            <name>ProvideWorkOrderDetailsSection</name>
            <fieldText>Provide Work Order Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ProvideWorkOrderDetailsSection_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>WorktypeLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>WorkTypeId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Type of Work Being Performed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ServiceTerritoryLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ServiceTerritoryId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Territory in Which Work Will Be Performed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>WorkOrderStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>New</stringValue>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>WorkOrderPriority</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Priority</elementReference>
            </defaultValue>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AssetLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AssetId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>assetIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays details about the customer including the Account, Contact, and Address.</description>
        <name>ReviewCustomerDetails</name>
        <label>Review Customer Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CollectWorkOrderDetails</targetReference>
        </connector>
        <fields>
            <name>ConfirmCustomerDetailsSection</name>
            <fieldText>Confirm Customer Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ConfirmCustomerDetailsSection_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>AccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Where will the work be performed?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>recordId.Account.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>recordId.Account.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>recordId.Account.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>recordId.Account.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>recordId.Account.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLookupLabel</name>
                <value>
                    <stringValue>Search for Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Account and Contact are derived from the Case. The Address is derived from the Account&apos;s Shipping Address and is used for appointment scheduling.&lt;/span&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays a link to the newly created work order to the flow user.</description>
        <name>ReviewResults</name>
        <label>Review Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Work Order {!WorkOrderLinkTextTemplate} was successfully created. Check it out!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when the work order can’t be created.</description>
        <name>ReviewWorkOrderCreationErrors</name>
        <label>Review Errors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WOCreationError</name>
            <fieldText>&lt;p&gt;Work Order was not created. Please contact your System Administration.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays the case Subject and Description field values for the running user to review and customize.</description>
        <name>ReviewWorkOrderDescription</name>
        <label>Review Work Order Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddDetailsToVariable</targetReference>
        </connector>
        <fields>
            <name>ProvideMoreDetailsForMobileWorkersSection</name>
            <fieldText>Provide More Details for Mobile Workers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ProvideMoreDetailsForMobileWorkersSection_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!recordId.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;The Subject and Description are copied from the Case and visible to the mobile worker in the App. Modify as needed to assist the mobile worker on site.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when the work order was created but the new record ID can’t be retrieved.</description>
        <name>ReviewWorkOrderRetrievalErrors</name>
        <label>Review Errors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WOIdRetrievalError</name>
            <fieldText>&lt;p&gt;Work Order was created but we were not able to retrieve the Id. Please go to the Work Order listview to look for the new Work Order record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>sfdc_fieldservice__Create_Work_Order</sourceTemplate>
    <stages>
        <description>The first stage in the Review Customer Details screen flow.</description>
        <name>CustomerDetailsStage</name>
        <isActive>true</isActive>
        <label>Customer Details</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <description>The final stage in the ReviewResults screen flow.</description>
        <name>ReviewResultsStage</name>
        <isActive>true</isActive>
        <label>Review Results</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <description>The third stage in the ReviewWorkOrderDescription screen flow.</description>
        <name>WorkOrderDescriptionStage</name>
        <isActive>true</isActive>
        <label>Work Order Description</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <description>The second stage in the CollectWorkOrderDetails screen flow.</description>
        <name>WorkOrderDetailsStage</name>
        <isActive>true</isActive>
        <label>Work Order Details</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAssets</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Opens the new work order link in the same tab.</description>
        <name>WorkOrderLinkTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!NewWorkOrderLinkFormula}&quot; target=&quot;_parent&quot;&gt;{!GetWorkOrder.WorkOrderNumber}&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <description>A collection of Asset IDs associated with a case’s Account.</description>
        <name>assetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Case ID of the case passed into the flow.</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Stores the values collected in CollectWorkOrderDetails, ReviewWorkOrderDescription, and Review Customer Details.</description>
        <name>workorderId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
