force-app/main/default/flows/Create_Patient_Admission_and_Credible_Profile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Existing_PA_Id</name>
        <label>Assign Existing PA Id</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>patientAdmissionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Admission_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Credible_ID_Present</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Credible_ID_Present</name>
        <label>Check If Credible ID Present</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Screen_Push_To_Credible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present - OK to Push</defaultConnectorLabel>
        <rules>
            <name>Credible_ID_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_Admission_Record.Credible_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Duplicate_Warning</targetReference>
            </connector>
            <label>Credible ID Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Patient_Admission_Exists</name>
        <label>Check Patient Admission Exists</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screen_Create_Patient_Admission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create New</defaultConnectorLabel>
        <rules>
            <name>Yes_PA_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_Admission_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_PA_Id</targetReference>
            </connector>
            <label>Yes - PA Exists</label>
        </rules>
    </decisions>
    <description>Creates Patient Admission from Opportunity and pushes data to Credible system</description>
    <interviewLabel>Create Credible Profile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Patient Admission and Credible Profile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Patient_Admission_Record</name>
        <label>Create Patient Admission Record</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>patientAdmissionId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Opportunity_With_PA</targetReference>
        </connector>
        <inputAssignments>
            <field>Credible_City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credible_County__c</field>
            <value>
                <elementReference>County</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credible_DOB__c</field>
            <value>
                <elementReference>DateOfBirth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credible_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credible_Mobile_Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credible_Patient_First_Name__c</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credible_Patient_Last_Name__c</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credible_State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credible_Zip__c</field>
            <value>
                <elementReference>ZipCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credible_address1__c</field>
            <value>
                <elementReference>StreetAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Patient.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Patient_Admission__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Patient__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Admission_Record</name>
        <label>Get Patient Admission Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Patient_Admission_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Admission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Contact_Record</name>
        <label>Get Patient Contact Record</label>
        <locationX>176</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Admission_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Patient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_With_PA</name>
        <label>Update Opportunity With PA</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Check_If_Credible_ID_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Patient_Admission__c</field>
            <value>
                <elementReference>patientAdmissionId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Screen_Create_Patient_Admission</name>
        <label>Create Patient Admission</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Patient_Admission_Record</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Create Patient Admission&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please fill in the patient information below. This data will be used to create a profile in Credible.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Patient</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>pstar__Patient__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Patient</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>pstar__Patient_Admission__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Opportunity_Record.Patient__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Patient_Contact_Record.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Patient_Contact_Record.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DateOfBirth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Patient_Contact_Record.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StreetAddress</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Patient_Contact_Record.MailingStreet</elementReference>
            </defaultValue>
            <fieldText>Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Patient_Contact_Record.MailingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Patient_Contact_Record.MailingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ZipCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Patient_Contact_Record.MailingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>County</name>
            <dataType>String</dataType>
            <fieldText>County</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Patient_Contact_Record.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Patient_Contact_Record.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Duplicate_Warning</name>
        <label>Duplicate Warning</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DuplicateWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(194, 57, 52);&quot;&gt;⚠️ &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(194, 57, 52);&quot;&gt;Credible Profile Already Exists&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;A Patient Admission with Credible Profile already exists for this Opportunity.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Credible ID: &lt;/b&gt;{!Get_Patient_Admission_Record.Credible_ID__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please view or update the existing admission instead.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Push_To_Credible</name>
        <label>Push to Credible</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExportToCredibleComponent</name>
            <extensionName>pstar:exportToCredible</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>patientAdmissionId</name>
                <value>
                    <elementReference>patientAdmissionId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldNavigate</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>patientAdmissionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
