force-app/main/default/flows/IRP_180_Day_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Sends reminders for upcoming 180-day Follow-up IRP Service Appointments due within 7 days. Uses Custom Metadata for configuration.</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaSevenDaysFromNow</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!$Flow.CurrentDate} + 7) &amp; &quot; 23:59:59&quot;)</expression>
    </formulas>
    <formulas>
        <name>formulaTodayStart</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!$Flow.CurrentDate}) &amp; &quot; 00:00:00&quot;)</expression>
    </formulas>
    <interviewLabel>IRP 180 Day Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IRP 180 Day Reminder</label>
    <loops>
        <name>Loop_Through_IRPs</name>
        <label>Loop Through IRPs</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Upcoming_180_Day_IRPs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Task_Reminder</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Reminder</name>
        <label>Create Task Reminder</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Loop_Through_IRPs</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>The 180-day Follow-up IRP Service Appointment is due soon. Please schedule and complete this appointment.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>180-Day IRP Due Soon</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Loop_Through_IRPs.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Peerstar_Settings</name>
        <label>Get Peerstar Settings</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Upcoming_180_Day_IRPs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Peerstar_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Upcoming_180_Day_IRPs</name>
        <label>Get Upcoming 180 Day IRPs</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_IRPs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Peerstar_Settings.Follow_Up_IRP_Work_Type_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>DueDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>formulaSevenDaysFromNow</elementReference>
            </value>
        </filters>
        <filters>
            <field>DueDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>formulaTodayStart</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>DueDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Peerstar_Settings</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-02-03</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
