force-app/main/default/flows/Referral_To_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_Case_Exists</name>
        <label>Check Case Exists</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_New_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Case - Create One</defaultConnectorLabel>
        <rules>
            <name>Case_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Case Already Exists</label>
        </rules>
    </decisions>
    <description>Creates a Case, Work Order, and Service Appointments when a Referral reaches On Service stage. Uses Custom Metadata for configuration.</description>
    <environments>Default</environments>
    <formulas>
        <name>formula180DayDue</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!Get_Peerstar_Settings.pstar__IRP_Follow_Up_Days__c}</expression>
    </formulas>
    <formulas>
        <name>formula180DayDueDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!formula180DayDue}) &amp; &quot; 18:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula180DayEarliestStart</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!formula180DayDue} - 7) &amp; &quot; 08:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>formulaIRPDue</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <formulas>
        <name>formulaIRPDueDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!formulaIRPDue}) &amp; &quot; 18:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>formulaIRPEarliestStart</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!$Flow.CurrentDate}) &amp; &quot; 08:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>formulaSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Case Management: &quot; &amp; {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Referral To Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral To Case Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_180_Day_IRP_Appointment</name>
        <label>Create 180 Day IRP Appointment</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>formula180DayDueDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Minutes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>formula180DayEarliestStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>Create_Work_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Peerstar_Settings.Default_Service_Territory_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>180-Day Follow-up IRP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Peerstar_Settings.Follow_Up_IRP_Work_Type_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Initial_IRP_Appointment</name>
        <label>Create Initial IRP Appointment</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Create_180_Day_IRP_Appointment</targetReference>
        </connector>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>formulaIRPDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Minutes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>formulaIRPEarliestStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>Create_Work_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Peerstar_Settings.Default_Service_Territory_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Initial IRP Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Peerstar_Settings.Initial_IRP_Work_Type_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorization_End_Date__c</field>
            <value>
                <elementReference>$Record.Authorization_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorization_Hours_Approved__c</field>
            <value>
                <elementReference>$Record.Authorized_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorization_Number__c</field>
            <value>
                <elementReference>$Record.Authorization_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credible_Profile_ID__c</field>
            <value>
                <elementReference>$Record.Credible_Profile_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_IRP_Due__c</field>
            <value>
                <elementReference>formula180DayDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MA_ID__c</field>
            <value>
                <elementReference>$Record.MA_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peer_Specialist__c</field>
            <value>
                <elementReference>$Record.Peer_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Level__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduling_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>$Record.Service_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formulaSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Create_Initial_IRP_Appointment</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Create_New_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Peerstar_Settings.Default_Service_Territory_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formulaSubject</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Case</name>
        <label>Get Existing Case</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Referral__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Peerstar_Settings</name>
        <label>Get Peerstar Settings</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Peerstar_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Peerstar_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Service</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
