force-app/main/default/flows/Retry_Failed_Scheduling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Increment_Retry_Count</name>
        <label>Increment Retry Count</label>
        <locationX>352</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varErrorToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Error_Logs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrorToUpdate.Retry_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewRetryCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrorToUpdate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retrying</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrorsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varErrorToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Error_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_As_Failed</name>
        <label>Mark As Failed</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varErrorToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Error_Logs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrorToUpdate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrorsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varErrorToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Error_Logs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Retry_Count</name>
        <label>Check Retry Count</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Increment_Retry_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Can Retry</defaultConnectorLabel>
        <rules>
            <name>Max_Retries_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Error_Logs.Retry_Count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Manual_Task</targetReference>
            </connector>
            <label>Max Retries Reached</label>
        </rules>
    </decisions>
    <description>Monitors Scheduling Error Logs and creates tasks for manual resolution after max retries</description>
    <environments>Default</environments>
    <formulas>
        <name>varNewRetryCount</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Loop_Error_Logs.Retry_Count__c}), 1, {!Loop_Error_Logs.Retry_Count__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Retry Failed Scheduling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retry Failed Scheduling</label>
    <loops>
        <name>Loop_Error_Logs</name>
        <label>Loop Error Logs</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Pending_Error_Logs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Retry_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Error_Logs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Manual_Task</name>
        <label>Create Manual Resolution Task</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Mark_As_Failed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Loop_Error_Logs.Error_Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Manual Scheduling Intervention Required</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Pending_Error_Logs</name>
        <label>Get Pending Error Logs</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Error_Logs</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retrying</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scheduling_Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Error_Logs</name>
        <label>Update Error Logs</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <inputReference>varErrorsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pending_Error_Logs</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-02-03</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varErrorsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scheduling_Error_Log__c</objectType>
    </variables>
    <variables>
        <name>varErrorToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scheduling_Error_Log__c</objectType>
    </variables>
</Flow>
