force-app/main/default/flows/Setup_Service_Resource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Decision_Resource_Exists</name>
        <label>Resource Already Exists?</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create_Service_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Resource</defaultConnectorLabel>
        <rules>
            <name>Resource_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Existing_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Already_Exists</targetReference>
            </connector>
            <label>Resource Exists</label>
        </rules>
    </decisions>
    <description>Screen flow for admins to quickly onboard new Peer Support staff as Service Resources with territory assignment</description>
    <environments>Default</environments>
    <interviewLabel>Setup Service Resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Setup Service Resource</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Service_Resource</name>
        <label>Create Service Resource</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Create_Territory_Member</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Selected_User.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>varSelectedUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResourceType</field>
            <value>
                <stringValue>T</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialist_Type__c</field>
            <value>
                <stringValue>CPS</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Territory_Member</name>
        <label>Create Territory Member</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>EffectiveStartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Create_Service_Resource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Peerstar_Settings.Default_Service_Territory_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TerritoryType</field>
            <value>
                <stringValue>P</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_Existing_Resource</name>
        <label>Check Existing Resource</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Resource_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Peerstar_Settings</name>
        <label>Get Peerstar Settings</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Select_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Peerstar_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_User</name>
        <label>Get Selected User</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Existing_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Screen_Already_Exists</name>
        <label>Resource Already Exists</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Already_Exists_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(194, 57, 52);&quot;&gt;Service Resource Already Exists&lt;/b&gt;&lt;/p&gt;&lt;p&gt;A Service Resource already exists for this user. Please select a different user or edit the existing resource directly.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_User</name>
        <label>Select User</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_User</targetReference>
        </connector>
        <fields>
            <name>Section_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Setup New Service Resource&lt;/b&gt;&lt;/p&gt;&lt;p&gt;This wizard creates a Service Resource for a Peerstar staff member and assigns them to the service territory.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>User_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>RelatedRecordId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ServiceResource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedUserId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Success</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(46, 125, 50); font-size: 16px;&quot;&gt;Service Resource Created!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Successfully created:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Service Resource for: {!Get_Selected_User.Name}&lt;/li&gt;&lt;li&gt;Assigned to: Peerstar Service Area&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Next Steps:&lt;/b&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Go to the Service Resource record to assign skills (CPS/CPRS)&lt;/li&gt;&lt;li&gt;The staff member can now be scheduled for Service Appointments&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Peerstar_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varSelectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
